@import "/src/App.scss";

.main {
  margin-top: 100px;

  .preview {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 20px;

    .text {
      transform: translateY(4.5rem);
    }

    .img {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 5rem;
        left: 0.5rem;
        width: 100%;
        height: 100%;
        background-image: url("/Logo2.svg");
        background-size: 30%;
        background-repeat: no-repeat;
        z-index: -1;
      }

      &::before {
        content: "";
        position: absolute;
        transform: translateX(22.5rem) translateY(15rem);
        width: 84px;
        height: 84px;
        background-image: url("/Dots.svg");
        background-repeat: no-repeat;
        z-index: 0;
        pointer-events: none;
      }

      &_title {
        border: 1px solid $gray;
        width: 24.2rem;
        transform: translateX(1rem) translateY(-0.2rem);
        padding: 8px;
        display: flex;
        align-items: center;
        gap: 10px;

        div {
          width: 1rem;
          height: 1rem;
          background-color: $primary;
        }
      }
    }
  }
}

.quote {
  margin-top: 7rem;
  display: flex;
  justify-content: center;

  .content {
    position: relative;
    border: 1px solid $gray;
    width: 44rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: ",,";
      position: absolute;
      top: -0.5rem;
      left: 2rem;
      background: $bg-color;
      font-size: 3rem;
      transform: rotate(180deg);
    }

    &::before {
      content: ",,";
      position: absolute;
      bottom: -2.5rem;
      right: 2rem;
      background: $bg-color;
      font-size: 3rem;
      transform: rotate(180deg);
    }

    .dr {
      position: absolute;
      bottom: -4.1rem;
      right: -0.02rem;
      height: 4rem;
      width: 10rem;
      border: 1px solid $gray;
      border-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.projects {
  margin-top: 10rem;

  .title {
    display: flex;
    justify-content: space-between;

    h3 {
      cursor: pointer;

      .arrow {
        transition: all 0.2s ease-in-out;
      }

      @media (min-width: 800px) {
        &:hover {
          .arrow {
            padding-left: 0.5rem;
          }
        }
      }
    }
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;

    .item {
      border: 1px solid $gray;
      overflow: hidden;
      transition: all 0.2s ease-in;

      img {
        width: 100%;
        height: 201px;
      }

      @media (min-width: 800px) {
        &:hover {
          transform: scale(1.02);

          -webkit-box-shadow: 0px 5px 10px 2px
            rgba($color: $primary, $alpha: 0.2);
          -moz-box-shadow: 0px 5px 10px 2px rgba($color: $primary, $alpha: 0.2);
          box-shadow: 0px 5px 10px 2px rgba($color: $primary, $alpha: 0.2);
        }
      }

      .content {
        .stack {
          padding: 0.5rem;
          border-bottom: 1px solid $gray;
        }
        .info {
          padding: 1rem;

          .btns {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

.skill {
  margin-top: 6rem;

  .gg {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;

    .ill {
      position: relative;

      .dots1 {
        position: absolute;
        top: 1rem;
        left: 1rem;

        img {
          width: 50px;
        }
      }

      .dots2 {
        position: absolute;
        bottom: 2rem;
        right: 10rem;

        img {
          width: 40px;
        }
      }

      .square1,
      .square2 {
        position: absolute;
        border: 1px solid $gray;
      }

      .square1 {
        top: -2rem;
        right: 5rem;
        width: 6rem;
        height: 6rem;
      }

      .square2 {
        bottom: 0;
        right: 4rem;
        width: 3rem;
        height: 3rem;
      }

      &::after {
        content: "";
        position: absolute;
        top: 6rem;
        left: 2rem;
        width: 100%;
        height: 100%;
        background-image: url("/Logo2.svg");
        background-repeat: no-repeat;
        z-index: -1;
      }
    }

    .skills {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;

      .items {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .item {
          border: 1px solid $gray;
          transition: all 0.2s ease-in;

          @media (min-width: 800px) {
            &:hover {
              transform: scale(1.02);

              -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
              -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
              box-shadow: 0px 5px 10px 2px rgba($color: $primary, $alpha: 0.2);
            }
          }

          .title {
            padding: 8px;
            border-bottom: 1px solid $gray;
          }

          p {
            padding: 8px;
          }
        }
      }
    }
  }
}

.about_me {
  margin-top: 8rem;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .text {
      margin-top: 1.5rem;
    }

    .img {
      display: flex;
      justify-content: center;
      position: relative;

      img {
        border-bottom: 1px solid $primary;
        transform: translateX(5.3rem);
      }

      &::before {
        content: "";
        position: absolute;
        top: 4rem;
        transform: translateX(-3rem);
        width: 84px;
        height: 84px;
        background-image: url("/Dots.svg");
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 10rem;
        right: 1rem;
        width: 84px;
        height: 60px;
        background-image: url("/Dots.svg");
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 1;
        overflow: hidden;
      }
    }
  }
}

.contacts {
  margin-top: 6rem;

  .content {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
  }

  .contact {
    border: 1px solid $gray;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
