@import "/src/app/styles/variables";

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 4;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    h2 {
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

.nav {
  @media (max-width: 800px) {
    display: none;
  }
}

.burger_menu {
  position: relative;
  width: 2rem;
  height: 1.5rem;
  user-select: none;
  display: none;

  @media (max-width: 800px) {
    display: block;
  }

  .l1,
  .l2,
  .l3 {
    position: absolute;
    height: 1px;
    width: 2rem;
    border-top: 1px solid #fff;
    left: 0;
    transition: all 0.2s ease-in-out;
  }

  .l1 {
    top: 0;
  }

  .l2 {
    top: calc(50% - 1px);
  }

  .l3 {
    bottom: 0;
  }

  &.active {
    .l1 {
      transform: translateY(0.7rem) rotate(-45deg);
    }

    .l2 {
      opacity: 0;
    }

    .l3 {
      transform: translateY(-0.7rem) rotate(45deg);
    }
  }
}
