@import "/src/app/styles/variables";

.burger_menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  //   justify-content: center;
  padding-left: 10rem;
  background: $bg-color;

  ul {
    flex-direction: column;

    li {
      font-size: 2rem !important;
    }

    ol {
      font-size: 2rem !important;
    }
  }
}
