@import "/src/app/styles/variables";

.contacts {
  margin-top: 6rem;

  .content {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    .right {
      display: flex;
      gap: 1rem;
    }
  }
}
